.list_items{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.list_items:not(:last-child){
    border-bottom: 1px solid #E6E6E6;

}

.list_items p{
    /* margin-right: 0px; */
    font-weight: 500;
    font-size: 18px;
    min-width: 12rem;
}

.success::before{
    content: " ";
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    background: #17B31B;
    margin-right: 8px;
}


.processing::before{
    content: " ";
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    background: #999999;
    margin-right: 8px;

}

.list_id{
    color: #146EB4;
}

.list_status{
    color: #1A181E;
    
}

.list_txn_id,.list_refund_date,.list_order_amt{
    color: #4D4D4D;
    opacity: .8;
}

.list_order_amt{
    text-align: right;
}

.list_status{
    position: relative;
    left: -2px;
}

.list_txn_id{
    position: relative;
    left: -18px;
}

.list_refund_date{
    position: relative;
    left: 35px;
}