.body{
    max-width: 100%;
    min-height: 100vh;
    padding: 40px;
    background-color: #FBFBFA;
}
.body_container{
   /* border: 1px solid red; */

}

.card_heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightside{
    display: flex;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
}

.rightside p{
    margin-right: 10px;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.transaction_section{
    /* background-color: aquamarine; */
    margin-top: 50px;
}

.txn_title{
    font-size: 24px;
}
.txn_btns{
    display: flex;

}

.txn_btns p{
    margin-top: 30px;
    text-align: center;
    padding:10px 20px 10px 20px ;
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
}

.txn_btns p:first-child{
    background: #E6E6E6;
    color: #808080;
    margin-right: 10px;
}

.txn_btns p:last-child{
    background: #146EB4;
    color: white;
    
}

.txn_list_cont{
    background-color: #FFFFFF;
    width: 100%;
    margin-top: 40px;
}


.search_container{
    width: 19%;
    display: flex;
    /* background: #F2F2F2; */
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    height: 65%;
    cursor: text;
    border: 1px solid #D9D9D9;
    padding: 20px;
    
}

.search_container div{
    /* margin-left: 25px; */
    margin-right: 15px;
}
.search_container input{
    width: 100%;
    border: none;
    /* background: #F2F2F2; */
    font-size: 18px;
    height: 100%;

}

.search_container input:focus{
    outline: none;
}

.txn_list_cont{
    padding: 13px;
    border-radius: 10px;
}

.list_header{
    display: flex;
    justify-content: space-between;
}

.right_side{
    display: flex;
    /* border: 1px solid #D9D9D9; */
    font-size: 20px;
}

.sort{
    border: 1px solid #D9D9D9;
    display: inline;
    display: flex;
    margin-right: 15px;
    align-items: center;
    padding: 10px;
    height: 36px;
    justify-content: center;
}

.sort p{
    margin: 10px;
    display: inline;
}

.sort div{
    display: inline;
    margin: 10px;

    margin-left:5px;
    margin-top: 15px;
}

.download{
    border: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
    padding: 10px;
    height: 36px;
    width: 36px;
    justify-content: center;

}

.list_item_titles{
    background: #F2F2F2;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 10px;
}

.list_item_titles p{
    font-weight: 500;
    font-size: 20px;
}