.header{
    background-color: white;
    border-bottom: 1px solid #D9D9D9;
    height: 4rem;
    /* min-width:100% ; */
    display: flex;
    align-items: center;
}
.leftmost{
    display: flex;
    font-size: 16px;
    width: 33%;
    align-items: center;
    padding: 40px;
}

.question_svg{
    margin-left: 30px;
    margin-top: 4px;
    margin-right: 6px;
    /* font-weight: 400; */
    cursor: pointer;
    font-size: 12px;
}

 h2{
    font-weight: 590;
    font-size: 19px;
    font-family: 'Galano Grotesque', sans-serif;

}

.leftmost p{
    /* margin-top: 8px; */
    font-size: 12px;
    font-weight: 400;
}

.search_container{
    width: 38%;
    display: flex;
    background: #F2F2F2;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    height: 60%;
    cursor: text;
}

.search_container div{
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 4px;
}
.search_container input{
    width: 100%;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    opacity: .7;
    font-weight: 500;
    height: 100%;

}

.search_container input:focus{
    outline: none;
}

.rightmost{
    width: 33%;
    /* cursor: pointer; */
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
}