.Navbar{
    /* box-sizing: content-box; */
    min-height: 100vh;
    width:280px;
    background: #1E2640;
    color: #FFFFFF99;
    font-size: 15px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}


.nav_title{
    display: flex;
    margin-top: 3px;
}

.logo_svg{
    margin: 8px;
}

.logo_address{
    display: flex;
    flex-direction: column;
    margin-top:11px;
    margin-left: 10px;
}


.dropdown{
    /* margin-top: 35px; */
    position: relative;
    left: 60px;
    top:20px;
}
.logo_address .name{
    color:#FFFFFF ;
    font-size: 16px;
}
.logo_address .store_link{
    color: #FFFFFF90;
    font-size: 13px;
    margin-top: 5px;
}


.nav_items{
    margin-top: 15px;
}

.nav_items ul li{
    display: flex;
    /* margin: 20px; */
    padding: 12px;
    /* margin-top: .8px; */
    transition:all .3s;
}

.nav_items ul li div{
    margin-right: 15px;
    margin-left: 10px;
}

.navbar_clicked{
    background-color: #FFFFFF1A;
    color: #FFFFFF;
}
.nav_items ul li:hover{
    cursor: pointer;
    background-color: #FFFFFF1A;
    color: #FFFFFF;
}



.bottom{
    background: #353C53;
    margin:10px ;
    display: flex;
    padding:8px 12px;
    align-items: center;
    border-radius: 8px;
    font-size: 13px;
}

.bottom_wallet_svg{
    background: rgba(255, 255, 255, 0.1);
    padding: 6px 6px 3px 6px;
    border-radius: 8px;
}

.bottom_wallet_detail{
    margin-left: 1rem;
}

.bottom_wallet_detail p{
    /* margin: 1px; */
}
.bottom_wallet_detail p:first-child{
    margin-bottom: 5px;
}
.bottom_wallet_detail p:last-child{
    font-size: 16px;
}

.bottom_wallet_detail p:last-child{
    color: #FFFFFF;
}