*
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.App{
    display: flex;
    position: relative;
}

.container{
    display: flex;
    flex-direction: column;
    border: none;
    /* height: 100%; */
    width: 100%;
}